* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 12px;
  color: #828282;
}


.container {
  width: 70%;
  margin-left: 19%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.container-form {
  width: 80%;
  margin-left: 13%;
}


#scrollUp {
  position: fixed;
  bottom: 16px;
  right: 16px;
  padding: 15px;
  background: black;
  font-size: 14px;
  text-decoration: none;
  display: none;
  opacity: 0.7;
}


//.scrollDovn {
//	display: none;
//	position: fixed;
//	margin-left: 90%;
//	margin-top: 90vh;
//	padding: 15px;
//	background: black;
//	font-size: 14px;
//	text-decoration: none;
//
//	opacity: 1;
//}


.logo:hover .logoFooter,
.logo:hover .logohead {
  color: #e2d8d8;

}

.logohead {

  top: 16px;
  text-transform: uppercase;
  font-size: 24px;


}

.logoFooter {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.31em;
  padding-left: 20%
}


.namber {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 3px;
}


ul {
  position: fixed;
  top: 50%;
  left: 5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

ul li {
  position: relative;
  list-style: none;
}

ul li a {
  position: relative;
  width: 150px;
  height: 40px;
  display: block;
  font-size: 14px;
  z-index: 400;
  color: #3E3E3E;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .9s;
  transition: .9s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &.active-tab {
    color: #FF1E47;

    span {
      transform: scaleY(1);
    }
  }
}

ul li a span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #555555;
  z-index: -1;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

ul li a:active {
  -webkit-transition: 1s;
  transition: 1s;
}

ul li a:hover {
  color: #FF1E47;
  text-decoration: none;
}

ul li a:hover span {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

ul li a span:nth-child(1) {
  left: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

ul li a span:nth-child(2) {
  left: 25%;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

ul li a span:nth-child(3) {
  left: 50%;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

ul li a span:nth-child(4) {
  left: 75%;
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}

/*навігація*/
#first__page__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -ms-flex-pack: distribute;

}


.first__page__text1 {
  width: 44%;

}

h1 {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 64px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.logo:hover {
  color: white;

}


h1 span {
  text-transform: lowercase;
  font-size: 37px;
  font-weight: 200;

  font-style: normal;
  color: #FFFFFF;
  margin-left: -18px;
}

.first__page__content {
  margin-top: 40px;
  margin-bottom: 64px;
  line-height: 23px;
  font-size: 16px;
  width: 90%;
  text-align: justify;

  * {
    font-size: inherit;
  }

}

.first__page__content::first-letter {
  padding-left: 30px;

}


#schowForm {
  display: block;
  padding: 15px;
  padding-left: 45px;
  box-sizing: border-box;
  text-decoration: none;
}

#absolute {
  position: absolute;
  z-index: 10;
  margin-left: 90%;
  margin-top: -360px;
  width: 29%;
  display: none;
  transition: 2s;
}

#buttonForm:checked ~ #absolute {
  margin-left: 30%;
  transition: 2s;
  display: block;
}

button,
#schowForm {
  width: 260px;
  height: 48px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;

  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF1E47), color-stop(87.29%, #CB1B45), to(#E70C33));
  background: linear-gradient(180deg, #FF1E47 0%, #CB1B45 87.29%, #E70C33 100%);
  //    border-radius: 20px;
  border: none;
}

#schowForm:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF1E67), color-stop(87.29%, #CB1B45), to(#E70C23));
  background: linear-gradient(180deg, #FF1E67 0%, #CB1B45 87.29%, #E70C23 100%);

}

button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF1E67), color-stop(87.29%, #CB1B45), to(#E70C23));
  background: linear-gradient(180deg, #FF1E67 0%, #CB1B45 87.29%, #E70C23 100%);

}

.first__page__video {
  background-image: url('../img/KLG_LaptopHero.png');
  background-size: contain;
  transform: scale(1.3);


  background-repeat: no-repeat;
  background-position: center;
  width: 48%;


}


.more_about_us_text {
  * {
    margin-top: 20px;
    font-size: 1.4rem;
    -webkit-font-variant-ligatures: normal;
    line-height: 25px;
  }

  strong {
    font-size: 1.6em;
  }

  //-webkit-transition: 0.5s;
  //transition: 0.5s;


}

.more_about_us_text span {
  font-size: 2rem;


}

.more_about_us_text::first-letter {
  padding-left: 30px;

}

/*SECOND BLOCK*/
h2 {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  padding-top: 50px;
  margin-bottom: 20px;
  box-sizing: border-box;


  color: #333333;
}


.servises__block__img {
  display: flex;
  //justify-content: space-between;
  position: relative;

  label {
    margin-right: 35px;
  }

  & div {


    h3 {
      color: #BDBDBD;
      margin-top: 16px;

      &.active {
        color: #FF1E47;
      }
    }

    & span {
      width: 48px;
      height: 48px;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      display: block;

      box-sizing: border-box;
      margin: 0 auto;


    }
  }
}


#imgWorks1 {
  background-image: url('../img/cms.svg');
  z-index: 10;
  fill: #BDBDBD;

  &:hover {
    fill: #FF1E47;
  }

  &:hover + h3 {
    color: #FF1E47;

  }
}

.nav {
  display: flex;
  flex-direction: column;
}

//.servises__block__Nav:hover h3 {
//    color: #FF1E47;
//
//}

#imgWorks2 {
  background-image: url('../img/launch.svg');
  fill: #BDBDBD;

  &:hover {
    background-image: url('../img/launch.svg');
    fill: #FF1E47;

  }

  &:hover + h3 {
    color: #FF1E47;

  }
}

#imgWorks3 {
  background-image: url('../img/coding.svg');
  fill: #BDBDBD;

  &:hover {

    fill: #FF1E47;

    & + h3 {
      color: #FF1E47;
    }
  }

}

#imgWorks4 {
  background-image: url('../img/vector.svg');
  fill: #BDBDBD;

  &:hover {
    fill: #FF1E47;

    & + h3 {
      color: #FF1E47;
    }
  }
}

#imgWorks5 {
  background-image: url('../img/settings.svg');
  fill: #BDBDBD;

  &:hover {

    fill: #FF1E47;

    & + h3 {
      color: #FF1E47;

    }
  }
}

h3 {
  font-size: 16px;
  margin-bottom: 20px;


  color: #4F4F4F;
}

#services {
  height: 520px;

  width: 100%;
  background-color: white;
  padding-bottom: 180px;


}

.active {
  color: #fff;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);

}

#work1,
#work2,
#work3,
#work4,
#work5 {
  display: none;
}

#work1:checked ~ #imgWorks1 {


  display: block;

}

#showWork5Img {
  margin-top: -30px;


  &:hover {
    transform: scale(1.1) rotate(-20deg);
  }
}

.servises__card {
  margin-top: 80px;
  margin-right: 25px;
  position: absolute;
  transition: 0.25s;
  display: none;

  &.visible {
    display: flex;
  }


  & img {
    display: block;
    width: 421px;
    height: 336px;
    transition: 0.5s;

    &:hover {
      transform: scale(1.1) rotate(20deg);

    }
  }

  &__block {
    margin-left: 30px;
    padding: 20px;
    margin-top: -40px;
    box-sizing: border-box;
    transition: 0.5s;
    width: 55%;

    //&:hover {
    //  -webkit-box-shadow: 1px 1px 10px 2px #939393, -1px -1px 10px 2px #939393;
    //  box-shadow: 1px -1px 10px 1px #d6d6d6, -1px -1px 10px 1px #939393;
    //}


    & p {
      margin-top: 5px;
      margin-left: 40px;
      display: block;
      font-size: 15px;

      &:first-of-type {
        margin-top: 32px;
      }

    }
  }
}


.servises__block__text {
  line-height: 20px;
  font-size: 15px;
  text-align: justify;


  color: #7E7E7E;


  &::first-letter {
    padding-left: 30px;
  }


}


/*therd BLOCK*/
#why_us {
  background: url('../img/1920_five_block.jpg');
  height: 709px;
  overflow: hidden;
  background-size: cover;
}

.why__us__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 0;

}


.button__five {
  margin-left: -40px;
}

.why__us__cardZIndex {
  width: 48%;
  margin-top: 100px;


  & .button__five {
    margin-top: 400px;


    &:focus {

      background: -webkit-gradient(linear, left top, left bottom, from(#FF1E67), color-stop(87.29%, #CB1B45), to(#E70C23));
      background: linear-gradient(180deg, #FF1E67 0%, #CB1B45 87.29%, #E70C23 100%);


    }
  }
}


.why__us__card {
  margin-top: 80px;
  position: absolute;
  right: 0;
  width: 48%;


}

.why__us__card img {
  padding-left: 25%;

  border: 1px solid linear-gradient(180deg, #FF1E47 0%, #CB1B45 87.29%, #E70C33 100%);


}

.card__header {
  font-size: 16px;
  margin-left: -30px;
  color: #828282;


}

.card__body {

  margin-top: 40px;
  margin-bottom: 44px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  font-family: Roboto;

  font-weight: 300;

  font-size: 64px;


  color: #FF1E47;


}

.card__text {
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 16px;
  text-align: justify;

  color: #7E7E7E;
  width: 90%;
  background: transparent;
  p{
      background: transparent;

  }
}

.card__text::first-letter {
  padding-left: 30px;

}

.card__text * {
  font-size: 20px;

}

.card__footer {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;


  margin-top: 111px;
  color: #3E3E3E;
}

.card__footer:hover {
  color: #C4C4C4;
  padding-bottom: 10px;
}

/*forths block*/
#partners {
  height: 400px;
  z-index: -1;
  background-color: white;

}

/*fifths block*/

#collform {
  background-image: url("../img/backForm.png");

  height: 689px;
  background-size: cover;


  background-repeat: no-repeat;
  background-position: center;
}


.form__Head {
  font-size: 24px;
  margin-bottom: 40px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  color: #4F4F4F;
  text-transform: uppercase;
}

.form__block {
  display: flex;
  align-items: center;
}

.img {
  padding-top: 115px;
  box-sizing: border-box;
  margin-left: 10%;


  -webkit-transform: scale(1.3);
  transform: scale(1.3);


}


.formGrup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first__page__text {
  width: 40%;
  margin-left: 90px;
  margin-top: 75px;
  box-sizing: border-box;
  background: #F2F2F2;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  padding: 55px 0px;

  & button {
    margin-left: 21.5%;
    box-shadow: -1px 20px 34px -19px #000000;
    text-transform: uppercase;

  }

  &.blured {
    filter: blur(3px)
  }
}

input {
  padding: 2px;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  font-size: 14px;
  padding-left: 15px;

  color: #BDBDBD;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-bottom: 40px;
}

.formGrup p {
  width: 47%;
}


//button:last-child {
//    margin-top: 40px;
//}


/*footer*/

.footer__header {
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 50px;
  margin-bottom: 48px;
  color: #070707;
}

.footer__block {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;


}

form button {
  margin-top: 25px;
}


.footer__card {
  width: 31%;

  display: flex;
  flex-direction: column;


}

.footer__card__head {
  line-height: normal;
  font-size: 22px;
  margin-bottom: 16px;
  color: #BDBDBD;
}

.footer__card__body {
  margin-bottom: 8px;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.footer__card__footer {
  line-height: normal;
  font-size: 14px;
  margin-top: 22px;


  text-transform: uppercase;
  color: #FF1E47;
}

.rights {
  margin-top: 38px;
  margin-bottom: 40px;

}


.system {


  position: relative;
}

.sun {


  font-size: 114px;
  font-family: Roboto;
  font-weight: 100;
  color: #FF1E47;


}


.ven-path {
  width: 534px;
  height: 1068px;
  margin-left: 90px;

  margin-top: -230px;
  z-index: 10;
  position: absolute;
  border-bottom-left-radius: 534px;
  border-top-left-radius: 534px;
  border: 0.884615px solid #ce0d0d;
  border-right: 0;


  &:before {
    content: '';
    width: 572px;


    height: 1144px;
    z-index: -10;
    margin-left: -30px;
    margin-top: -40px;
    position: absolute;
    border-bottom-left-radius: 572px;
    border-top-left-radius: 572px;
    border: 0.884615px solid #3C3C3C;
    border-right: 0;

  }

  &:after {
    content: '';
    width: 615px;
    height: 1230px;
    margin-left: -60px;
    margin-top: -80px;


    z-index: -10;
    position: absolute;
    border-bottom-left-radius: 615px;
    border-top-left-radius: 615px;
    border: 0.884615px solid #3C3C3C;
    border-right: 0;

  }

}

@-webkit-keyframes rot-ear {
  from {
    -webkit-transform: rotate(240deg) translatey(-615px) rotate(240deg);
  }

  to {
    -webkit-transform: rotate(310deg) translatey(-615px) rotate(310deg);
  }
}

@-webkit-keyframes rot-ears {
  from {
    -webkit-transform: rotate(180deg) translatey(-615px) rotate(180deg);
  }

  to {
    -webkit-transform: rotate(310deg) translatey(-615px) rotate(310deg);
  }
}


.ear {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #727272;
  position: absolute;
  margin-left: 635px;
  animation-delay: 2s;
  margin-top: 292px;
  -webkit-animation: rot-ear 19s infinite linear;
  animation: rot-ear 19s infinite linear;
  z-index: 200;
}

.ears {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #727272;
  position: absolute;
  margin-left: 635px;
  margin-top: 292px;


  -webkit-animation: rot-ears 23s infinite linear;
  animation: rot-ears 23s infinite linear;
  z-index: 200;

}

@-webkit-keyframes rot-earss {
  from {
    -webkit-transform: rotate(215deg) translatey(-572px) rotate(215deg);
  }

  to {
    -webkit-transform: rotate(310deg) translatey(-572px) rotate(310deg);
  }
}

.earsss {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #727272;
  position: absolute;

  margin-left: 629px;
  margin-top: 297px;

  -webkit-animation: rot-earsss 24s infinite linear;
  animation: rot-earsss 24s infinite linear;
  z-index: 200;

}

@-webkit-keyframes rot-earsss {
  from {
    -webkit-transform: rotate(180deg) translatey(-572px) rotate(160deg);
  }

  to {
    -webkit-transform: rotate(310deg) translatey(-572px) rotate(310deg);
  }
}


.earss {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #727272;
  position: absolute;

  margin-left: 629px;
  margin-top: 297px;

  -webkit-animation: rot-earss 20s infinite linear;
  animation: rot-earss 20s infinite linear;
  z-index: 200;

}


.sat {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #727272;
  position: absolute;

  margin-left: 650px;
  margin-top: 299px;


  -webkit-animation: rot-sat 24s linear;
  animation: rot-sat 24s infinite linear;
  z-index: 200;
}

@-webkit-keyframes rot-sat {
  from {
    -webkit-transform: rotate(180deg) translatey(-656px) rotate(180deg);
  }

  to {
    -webkit-transform: rotate(310deg) translatey(-656px) rotate(310deg);
  }
}

@-webkit-keyframes rot-sats {
  from {
    -webkit-transform: rotate(220deg) translatey(-656px) rotate(220deg);
  }

  to {
    -webkit-transform: rotate(310deg) translatey(-656px) rotate(310deg);
  }
}

.sats {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #727272;
  position: absolute;


  margin-left: 650px;
  margin-top: 299px;


  -webkit-animation: rot-sats 20s linear;
  animation: rot-sats 20s infinite linear;
  z-index: 200;
}

@-webkit-keyframes rot-satss {
  from {
    -webkit-transform: rotate(170deg) translatey(-534px) rotate(170deg);
  }

  to {
    -webkit-transform: rotate(320deg) translatey(-534px) rotate(320deg);
  }
}

.satss {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ce0d0d;
  position: absolute;

  margin-left: 620px;
  margin-top: 299px;


  -webkit-animation: rot-satss 24s linear;
  animation: rot-satss 24s infinite linear;
  z-index: 200;
}

@-webkit-keyframes rot-satsss {
  from {
    -webkit-transform: rotate(220deg) translatey(-534px) rotate(220deg);
  }

  to {
    -webkit-transform: rotate(320deg) translatey(-534px) rotate(320deg);
  }
}

.satsss {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ce0d0d;
  position: absolute;

  margin-left: 620px;
  margin-top: 299px;


  -webkit-animation: rot-satsss 18s linear;
  animation: rot-satsss 18s infinite linear;
  z-index: 200;
}

.sat-path {
  width: 656px;
  height: 1312px;
  margin-top: -350px;

  z-index: 10;
  position: absolute;
  border-bottom-left-radius: 656px;
  border-top-left-radius: 656px;
  border: 0.884615px solid #3C3C3C;
  border-right: 0;
}

/*чекбкс*/
.goods {
  display: block;
  margin-left: -60px;
}

.blockSlider {

  position: absolute;
  margin-top: 0px;
  color: white;
  width: 40%;
  -webkit-transition: .3s;
  transition: 1s;
  padding: 10px;
  margin-left: -1000px;

}


#check_label1,
#check_label2,
#check_label3,
#check_label4,
#check_label5 {
  display: none;
}

#check_label1:checked ~ .block1 {

  margin: 0px;
  padding: 10px;

}

#check_label2:checked ~ .block2 {

  margin: 0px;
  padding: 10px;
}

#check_label3:checked ~ .block3 {

  margin: 0px;
  padding: 10px;
}

#check_label4:checked ~ .block4 {

  padding: 10px;
  margin: 0px;

}

#check_label5:checked ~ .block5 {

  padding: 10px;
  margin: 0px;

}


/*Лейбл первый*/

.labelsAadvantages {
  text-align: center;
  position: absolute;
  display: block;
  height: 24px;
  font-size: 16px;
  z-index: 101;
  margin-top: -280px;
  -webkit-transition: .3s;
  transition: .3s;
  float: left;
}


#prise {

  margin-left: 550px;
}


#contract {
  margin-left: 215px;

}

#quality {
  margin-left: 610px;

}


#reliability {
  margin-left: 320px;
}

#result {
  margin-left: 445px;
}

.labelsAadvantages:hover {


  color: #fff;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}


.buttomsCarusel {
  position: absolute;
  right: 10%;
  margin-top: 200px;

  z-index: 101;

  &__footer {
    display: flex;
    margin-left: 10px;
  }


}


#left {


  padding-top: 2px;
  padding-left: 4px;
  font-stretch: semi-expanded;
  border-radius: 50%;
  font-size: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;

  opacity: 0.2;
  box-sizing: border-box;
  border: 1px solid #FFFFFF; //    background: url(../img/left.png) no-repeat center;

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    list-style-type: none;
    text-decoration: none;
    border: 1px solid #db0000;
    color: #db0000;
    opacity: 0.5;

  }
}

#right {


  margin-left: 10px;

  padding-top: 2px;
  padding-left: 13px;
  font-weight: bolder;

  border-radius: 50%;
  font-size: 30px;
  width: 40px;
  height: 40px;
  opacity: 0.2;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    border: 1px solid #db0000;
    color: #db0000;
    opacity: 0.5;
  }


}

@media only screen and (max-width: 1435px) {
  //	.about_Us:before {
  //		height: 19px;
  //	}

}

@media only screen and (max-width: 1270px) {
  h1 {
    font-size: 60px;
  }

  //	.about_Us:before {
  //		height: 19px;
  //
  //	}

}

@media only screen and (max-width: 1207px) {
  h1 {
    font-size: 54px;
  }

  .card__text {
    width: 100%
  }

  //	.about_Us:before {
  //		height: 19px;
  //
  //	}


}

@media only screen and (max-width: 1181px) {
  h1 {
    font-size: 53px;
  }

  .first__page__text button {
    width: 70%;
    margin-left: 15%;

  }

  .blockSlider {
    width: 50%;
  }

  #services .container {
    width: 100%;
    margin-left: 0;

  }

  .why__us__cardZIndex {
  }

  .servises__card {
    margin-left: 10%;
  }

  h2 {
    margin-left: 10%;
  }

  .servises__block__img {
    width: 85%;
    margin-left: 10%;
    justify-content: space-around;
  }

  .img {
    margin-left: 4%;
  }


}

@media only screen and (max-width: 1123px) {

  .card__text {
    width: 100%
  }

  .img {

    margin-left: -10%;

  }

  h1 {
    font-size: 50px;
  }

  .first__page__text {
    width: 47%;
    margin-left: 45px;
  }


  //	.about_Us:before {
  //		height: 19px;
  //
  //	}


  .first__page__text1 {
    width: 43%;
  }

  .first__page__video {
    margin-left: 50px;
  }

}

@media only screen and (max-width: 1082px) {

  .servises__block {


    margin-left: -20px;

  }

  .more_about_us_text {
    margin-top: 0;
  }

  .why__us__card:first-child {
    margin-left: -20px;
  }

}

@media only screen and (max-width: 1025px) {

  h1 {
    font-size: 44px;
  }

  #header {
    background-size: 100% 100%;
  }

  .labelsAadvantages {
    font-size: 13px;
    margin-left: 10px;
  }

}

@media only screen and (max-width: 980px) {
  .container {
    width: 80%;
    margin-left: 10%;
  }

  .first__page__video {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  .first__page__content {
    width: 90%;
  }

  .servises__block {

    margin-left: -10px;


  }

  #header {
    height: 660px;
  }


  .servises__card__block {
    padding-top: 0;

    & p:first-of-type {
      margin-top: 5px;
    }
  }
}


@media only screen and (max-width: 895px) {

  #first__page__block {
    margin-top: 80px;
  }

  ul {
    left: 7%;

  }

  .servises__card {
    margin-top: 20px;

    & img {
      display: block;
      width: 321px;
      height: 286px;
      transition: 0.5s;
    }

    &__block {
      margin-top: 0;
      width: 55%;
    }
  }

  #why_us {
    height: 509px;
  }


  .buttomsCarusel {

    margin-left: 200px;
    margin-top: 170px;
  }


  #services {
    height: 440px;
  }

  .system {
    margin-top: -100px;
  }

  .first__page__text {
    height: 415px;
    margin-left: 0;
  }


  .why__us__cardZIndex {
    margin-top: 40px;
    margin-left: 6%;

    .button__five {
      margin-top: 300px;
    }
  }

  .img {
    transform: scale(1);
  }


  .card__body {
    margin-bottom: 22px;
    margin-top: 20px;
    font-size: 54px;
  }

  .form__Head {
    font-size: 20px;
  }

  #collform {
    height: 590px;
  }

  .footer__header {

    font-size: 21px;

    padding-top: 20px;
    margin-bottom: 20px;
  }

  form button {
    margin-top: -15px;
  }


}


@media only screen and (max-width: 786px) {
  h1 {
    font-size: 37px;
  }
}

@media only screen and (max-width: 826px) {

  #first__page__block {
    margin-top: 80px;
  }

  .servises__card__block p {

    position: relative;
    width: 90%;
    height: 15px;
    overflow: hidden;


    &:hover {
      overflow: visible;
      height: inherit;

    }

  }


  h1 {
    font-size: 37px;

    & span {
      margin-left: -12px;
    }
  }

  .first__page__video {
    transform: scale(1.3);
  }
}

@media only screen and (max-width: 745px) {
  #header {
    background: url("../img/halfFirst.jpg") no-repeat center fixed;
    height: 480px;
    padding-top: 20px;

    background-size: 100%;
    display: flex;
    flex-direction: column;


  }

  .about_Us {
    bottom: 20px;

    &:before {
      height: 19px;

    }
  }

  h1 {
    font-size: 42px;
  }


  .blockSlider {
    width: 70%;
  }

  .first__page__text {
    margin-left: -35px;

  }

  .servises__card img {
    display: block;
    width: 271px;
    height: 206px;
    transition: .5s;

  }

  .servises__card__block {
    margin-left: 0px;
  }


  .first__page__content {
    margin-top: 20px;
    margin-bottom: 24px;
    line-height: 23px;
    font-size: 16px;
    width: 90%;
    text-align: justify;

  }

  .form__Head {
    font-size: 17px;
  }

  h3 {
    font-size: 13px;
  }

  #scrollUp {
    margin-left: 84%;
  }

  .first__page__text1 {
    width: 60%;

  }

  #partners container {
    width: 90%;
    margin-left: 5%;
  }

  .img {
    padding-top: 90px;

    margin-left: -13%;

    transform: scale(0.8);
  }

  .first__page__video {
    display: none
  }

  .first__page__text {
    margin-left: -75px;
    width: 51%;
  }

  .rights {
    margin-top: 18px;
    margin-bottom: 30px;
  }


}

@media only screen and (max-width: 648px) {

  .first__page__text1 {
    width: 70%;
  }

  .buttomsCarusel {
    margin-left: 150px;
  }

  .servises__block__Nav h3 {
    width: 100%;
    text-align: center;
  }

  img div span {
    width: 38px;
    height: 38px;

    #first__page__block {
      margin-top: 80px;
    }
  }

  img div h3 {
    font-size: 13px;
  }

  .servises__card img {
    margin-top: 20px;
    margin-left: -20px;
  }

  h2 {
    padding-top: 23px;
  }

  .more_about_us_text {
    font-size: 15px;
    line-height: 21px;
  }

  #partners {
    height: 350px;
  }

  .first__page__text {
    margin-left: -95px;
  }

  .servises__card img,
  #showWork5Img {
    position: absolute;
    z-index: 100;
    opacity: 0.5;
    transform: scale(1.2);
    margin-left: 20%;
    margin-top: 30px;

  }

  .servises__card__block {
    margin-left: 10%;
    width: 80%;
    color: black;
    position: relative;
    z-index: 101;
  }

  #services {
    height: 340px;
  }

  .img {


    transform: scale(0.7);
  }
}

.servises__card__block h3 {
  font-size: 17px;
}

.servises__block__text,
.servises__card__block p {

  color: #000000;
}

.buttomsCarusel {
  margin-left: 150px;
}


@media only screen and (max-width: 559px) {
  .container-form {
    width: 100%;
    margin-left: 0%;
  }

  ul {

    margin-left: 3%;

  }
  #header {
    background-size: 100% 100%;
  }

  .first__page__text {
    margin-left: -110px;
  }
  h1 {
    font-size: 39px;
  }
  .img {


    transform: scale(0.6);
  }

  .card__body {
    margin-bottom: 12px;
    margin-top: 10px;
    font-size: 44px;
  }

  .system {

    margin-left: -100px;
  }

  .blockSlider {
    width: 80%;
  }


  #partners {
    height: 320px;
  }

  .scrolled {
    z-index: 500;
  }

  .card__text {

    font-size: 15px;
  }

  .servises__block__Nav h3 {
    font-size: 11px;
  }

  .footer__card__head {

    font-size: 19px;
  }

  .more_about_us_text {
    font-size: 13px;
    line-height: 18px;
  }
}

@media only screen and (max-width: 471px) {

  .servises__card__block {
    margin-left: 0;
    width: 100%;
    color: #000;
    position: relative;
    z-index: 101;

    & h3 {
      margin-bottom: 7px;

    }
  }

  .footer__card__head {
    line-height: normal;
    font-size: 15px;
  }

  ul {

    display: none;

  }

  h3 {
    font-size: 10px;
  }

  .servises__card {
    margin-top: 0;
  }

  #smaller {
    font-size: 14px;
    line-height: 17px;


    & .servises__card__block p {
      font-size: 13px;
    }
  }

  .servises__card img {
    opacity: 0.4;
    margin-left: 10%;
  }

  .servises__block__img {
    width: 90%;
    margin-left: 7%;
  }

  .why__us__cardZIndex {
    margin-left: 0;
    width: 100%;
    position: absolute;
  }

  .ear,
  .ears,
  .earss,
  .earsss,
  .sat,
  .sats,
  .satss,
  .satsss {
    display: none;
  }

  .sun {
    display: none;
  }


  #header {
    background: url("../img/threadFirst.png") no-repeat fixed;

    height: 450px;


    background-size: 100%;
  }

  .first__page__content {
    width: 100%;
  }

  .img {


    display: none;
  }

  .first__page__text1 {
    width: 80%;
    margin-left: 10%;
  }

  .first__page__text {
    margin-left: 12.5%;
    width: 75%
  }

  #collform {
    height: 506px;
  }


  h1 {
    font-size: 30px;

    & span {
      margin-left: -8px;
      font-size: 16px;
    }
  }

  .first__page__text {
    margin-top: 43px;
  }

  #partners .container {
    width: 90%;
    margin-left: 5%;
  }

  #check_label1:checked ~ .block1,
  #check_label2:checked ~ .block2,
  #check_label3:checked ~ .block3,
  #check_label4:checked ~ .block4,
  #check_label5:checked ~ .block5 {
    margin-left: 17%;

    width: 100%;
  }

  h2 {
    margin-bottom: 10px;
    padding-top: 11px;
  }

  #why_us {
    height: 439px;
  }

  .why__us__cardZIndex .button__five {
    margin-top: 279px;
    margin-left: 0%;
    position: absolute;
    z-index: 400;
  }

  .buttomsCarusel {
    margin-left: 51%;
    margin-top: 106px;
  }

  footer .container {
    width: 90%;
    margin-left: 5%;
  }

  #scrollUp {
    margin-left: 79%;
  }

  .footer__card__head,
  .footer__card__body {
    width: 100%;
    text-align: center;
  }

  #mail {
    margin-left: -7%;
    overflow: hidden;

    &:hover {
      height: 110px;

    }
  }

}

@media only screen and (max-width: 382px) {
  #schowForm {
    width: 220px;
    height: 48px;
    margin-left: 7px;

    font-size: 16px;
    padding: 15px;
    padding-left: 25px;

  }


}


@media only screen and (max-width: 320px) {
  ul {

    margin-left: 7%;

  }

  #first__page__block {
    margin-top: 80px;
  }
}
