.thanks-block {
  width: 85%;
  margin: auto;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: all 0.25s ease;

  &.visible {
    max-height: 150px;
    opacity: 1;
    visibility: visible;
  }
}


.all-form-wrap {
  max-height: 500px;
  transition: max-height 0.25s ease;

  &.hidden {
    max-height: 0;
    overflow: hidden;
  }
}