@import '../partials/animations';

#header {
  //background: url(../img/backMain.png) no-repeat center fixed;
  background-image: url('../img/backMain.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;

  //padding: 12px 0px;
  width: 100%;
  background-size: 100% 100%;
  display: flex;
  position: relative;
  flex-direction: column;


}

#phone__namber {
  font-size: 18px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color: #E5E5E5;
}

.Beforescrolled {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  background-color: transparent;
  transition: background-color linear 0.25s;

  &.scrolled {
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    background-color: white;
    width: 100%;
    box-shadow: 1px 1px 10px #cecdea;

    #phone__namber {
      color: #828282;
    }
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.header-container {
    max-width: 1170px;
    width: 90%;
    margin: auto;
  }

  .contact {

  }
}

.more-about-us {
  position: absolute;
  height: 80px;
  bottom: 0;
  left: 25%;

  .vertical-line {
    height: 100%;
    width: 4px;
    background: #7E7E7E;
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      height: 50%;
      width: 100%;
      background: #FF1E47;
      border-radius: 4px;
      animation: to_bottom_line 7s infinite linear;
    }
  }

  .about_Us {
    position: absolute;
    bottom: 0;
    top: 25%;
    transform: translateY(16%);
    width: 150px;
    margin-left: 16px;
    color: #727272;
    font-weight: bold;
    line-height: normal;
    font-size: 12px;
    text-transform: uppercase;
    transition: 0.25s ease color;
    text-decoration: none;

    &:hover {
      color: #FF1E47;
    }
  }
}


.language-wrap {
  display: flex;
  flex-direction: column;
  max-height: 1px;

  .lang-btn {
    background: none;
    padding: 0;
    margin: 0;
    width: auto;
    outline: none;
    font-weight: bold;
    color: #3E3E3E;
    //font-size: 14px;

    &:hover {
      color: #FF1E47;
      cursor: pointer;
    }

    &.active-lang {
      color: #FF1E47;
    }
  }

  &:hover {
    .form-lang {
      height: 40px;

      &:not(.order-1) {
        height: 35px;
        overflow: visible;
      }

      &.order-1 {
        &:after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }
}

.form-lang {
  order: 2;
  text-align: center;

  &:not(.order-1) {
    height: 0;
    overflow: hidden;
    transition: all 0.25s ease-in;
  }

  &.order-1 {
    order: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

    &:after {
      content: '';
      width: 25px;
      height: 25px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-150%, -50%) rotate(-90deg);
      display: block;
      background-image: url('../img/less_lang.svg');
      background-size: 15px 15px;
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.25s linear;
    }
  }
}


//.about_Us {
//  display: block;
//  text-decoration: none;
//  padding-left: 20px;
//  padding-top: 20px;
//  position: absolute;
//  bottom: 40px;
//  left: 19%;
//  height: 40px;
//
//  font-style: normal;
//  font-weight: 900;
//  line-height: normal;
//  font-size: 12px;
//  text-transform: uppercase;
//  border-left: 4px solid #FF1E47;
//  box-sizing: border-box;
//
//
//  transition: 0.25s;
//
//  &:before {
//    content: "";
//
//    margin-top: 20px;
//    height: 40px;
//    border-left: 1px solid #7E7E7E;
//    margin-left: -23px;
//    position: absolute;
//
//  }
//
//  &:hover {
//    border-left: 4px solid #7E7E7E;
//    color: #FF1E47;
//
//    & .about_Us:before {
//      border-left: 1px solid #FF1E47;
//      content: "";
//
//
//    }
//
//
//  }
//
//}


.logo {
  text-decoration: none;

}