.custom-dots {
  display: flex;


  .icon {
    background-size: 16px 30px;
    background-position: 42% 50%;
    background-repeat: no-repeat;
    background-image: url('../img/less.svg');
    cursor: pointer;

    &.custom-arrow-prev {
      //background-image: url('../img/less.svg');
    }

    &.custom-arrow-next {
      transform: rotate(180deg);
    }
  }


}
