{% load solo_tags %}
{% load i18n %}
{#{% get_solo 'main.FirstScreen' as first_screen %}#}
<section class="first-screen" id="header">
    <header id="headers" class="Beforescrolled ">
        <div class="header-wrapper header-container">
            <a href="#first__page__block" class="logo">
                <div class="logohead">Avalan</div>
                <div class="logoFooter">studio</div>
            </a>
            <div class="contact">
                <div class="namber">{% trans 'Телефон' %}</div>
                <div id="phone__namber">
                    {% with contacts_phone|first as contact %}
                    {{contact.contact}}
                    {% endwith %}
                </div>
            </div>
        </div>
    </header>
    <div id="Anav" class="nav">
        <ul>
            <li>
                <a class="Anav" href="#header">
                    {% trans 'Головна' %}
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>
            <li>
                <a class="Anav" href="#services"> {% trans 'Послуги' %}
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>
            <li>
                <a class="Anav" href="#why_us">{% trans 'Чому ми' %}
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>
            <li>
                <a class="Anav" href="#collform">{% trans 'Контакти' %}
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>

            <li>
                <div class="language-wrap">
                    {% for lang in LANGUAGES %}
                    {% if lang.0 == SELECTEDLANG %}
                    <div class="form-lang order-1">
                        <button class="lang-btn{% if lang.0 == SELECTEDLANG %} active-lang {% endif %}">{{ lang.0 }}
                        </button>
                    </div>
                    {% else %}
                    <form class="form-lang {% if lang.0 == SELECTEDLANG %}order-1{% endif %}"
                          action="{% url 'set_language' %}" method="post"> {% csrf_token %}
                        <input name="next" type="hidden" value="/{{lang.0}}"/>
                        <input type="hidden" name="language" value="{{ lang.0 }}">
                        <button class="lang-btn{% if lang.0 == SELECTEDLANG %} active-lang {% endif %}">{{ lang.0 }}
                        </button>
                    </form>
                    {% endif %}
                    {% endfor %}
                </div>
            </li>


        </ul>
        <a href="#first__page__block" id="scrollUp">вгору</a>
    </div>
    <div class="container">
        <div id="first__page__block">
            <div class="first__page__text1">
                <h1>AVALAN <span>.studio</span></h1>
                <div class="first__page__content">
                    {{first_screen.content|safe}}

                    <!--Ми створюємо унікальні веб-сайти, засновані на найсучасніших-->
                    <!--технологіях. Наша команда враховує ваші бізнес-потреби та забезпечує систематичні, обгрунтовані та-->
                    <!--перевірені рішення.-->
                </div>

                <a id="schowForm" href="#collform">{{first_screen.btn_text}}</a>
            </div>

            <div class="first__page__video"></div>
        </div>
    </div>
    <div class="more-about-us">
        <div class="vertical-line"></div>
        <a href="#more_about_us" class="about_Us">{% trans 'Більше про нас' %}</a>
    </div>
</section>