{% load static %}
{% load i18n %}
{% load solo_tags %}
{% get_solo 'main.Text' as text_about %}
<!DOCTYPE html>
<html lang="ua">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144579381-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-144579381-1');

    </script>
    <meta name="google-site-verification" content="Fz6lH_96ZslQlpnQvqA00KDVkyaPP9esXrSUdfsUgN8"/>
    <title>Avalan.studio, розробка та оптимізація сайтів, SEO просування та ІТ Маркетинг</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description"
          content="створення сайтів під ключ у вебстудії AVALAN.studio: ✔ унікальний веб-дизайн ✔ навчання SEO, CMS та CRM ✔ ІТ маркетинг - просування реклами в інтернеті ✔ технічна підтримка, ✔ перенесення сайтів, ✔ SEO оптимізація та аудит, запустіть ракету разом з нами."/>
    <!-- <meta property="og:title" content="Avalan.studio, розробка та оптимізація сайтів, SEO просування та ІТ маркетинг." />
     <meta property="og:description" content="створення сайтів під ключ у вебстудії AVALAN.studio: ✔ унікальний веб-дизайн ✔ навчання SEO, CMS та CRM ✔ ІТ маркетинг - просування реклами в інтернеті ✔ технічна підтримка, ✔ перенесення сайтів, ✔ SEO оптимізація та аудит, запустіть ракету разом з нами." />
     <meta property="og:type" content="article" />
     <meta property="og:url" content="https://avalan.studio/" />
  <meta property="og:locale" content="ua_UA" />
     <meta property="og:site_name" content="Avalan.studio" />
  <meta name="twitter:card" content="summary_large_image" />
 <meta name="twitter:description" content="створення сайтів під ключ у вебстудії AVALAN.studio: ✔️ унікальний веб-дизайн ✔️ навчання SEO, CMS та CRM ✔️ ІТ маркетинг - просування реклами в інтернеті ✔️ технічна підтримка, ✔️ перенесення сайтів, ✔️ SEO оптимізація та аудит, запустіть ракету разом з нами." />
 <meta name="twitter:title" content="Avalan.studio, розробка та оптимізація сайтів, SEO просування та ІТ Маркетинг" />
 -->
    <meta name="copyright" content="Всі права належать" Avalan.studio
    "" />
    <meta name="author" content="Avalan.studio"/>
    <meta name="geo.placename" content="Київ,  Україна"/>
    <meta name="geo.position" content="50.448091, 30.521688"/>
    <meta name="geo.region" content="UA-Київ"/>
    <link rel="stylesheet" href="{% static 'client.min.css' %}">
    <link rel="shortcut icon" href="favicon/favicon.ico"/>


</head>

<body>

{% include 'sections/header.html' %}
{% load i18n %}
<section id="services">
    <div class="container">
        <h2> {% trans 'Наші послуги' %}</h2>
        <div class="servises__block">
            <div class="servises__block__img">
                {% for service in services %}
                    <!--<input type="radio" name="works" checked onclick="changeSlide()" id="work1">-->
                    <label class="js-change" data-id="show_work_{{ service.id }}">
                        <div class="servises__block__Nav ">
                            {% if service.icon %}
                                <span style="background-image: url({{ service.icon.url }})" id="imgWorks1"></span>
                            {% else %}
                                <span id="imgWorks{{ forloop.counter }}"></span>
                            {% endif %}
                            <h3 class='js-title-service {% if forloop.counter == 1 %} active {% endif %}'>
                                {{ service.title }}</h3>
                        </div>
                    </label>
                {% endfor %}
                <!--<input type="radio" name="works" onclick="changeSlide()" id="work2"> <label for="work2">-->
                <!--<div class="servises__block__Nav"><span id="imgWorks2"></span>-->
                <!--<h3>ПРОСУВАННЯ</h3>-->
                <!--</div>-->
                <!--</label> <input type="radio" name="works" onclick="changeSlide()" id="work3"> <label for="work3">-->
                <!--<div class="servises__block__Nav"><span id="imgWorks3"></span>-->
                <!--<h3>ДИЗАЙН</h3>-->
                <!--</div>-->
                <!--</label> <input type="radio" name="works" onclick="changeSlide()" id="work4"> <label for="work4">-->
                <!--<div class="servises__block__Nav"><span id="imgWorks4"></span>-->
                <!--<h3>ПІДТРИМКА САЙТІВ</h3>-->
                <!--</div>-->
                <!--</label> <input type="radio" name="works" onclick="changeSlide()" id="work5"> <label for="work5">-->
                <!--<div class="servises__block__Nav"><span id="imgWorks5"></span>-->
                <!--<h3>РЕДАГУВАННЯ</h3>-->
                <!--</div>-->
                <!--</label>-->

            </div>

            {% for service in services %}
                <div id="show_work_{{ service.id }}"
                     class="js-service-card servises__card {% if forloop.counter == 1 %} visible {% endif %}">
                    <!--<img src="../../static/images/Group3.png" alt="">-->
                    {% if service.image %}
                        <img src="{{ service.image.url }}" alt="">
                    {% endif %}
                    <div class="servises__card__block">
                        <h3>{{ service.title }}</h3>
                        <div class="servises__block__text">
                            {{ service.text|safe }}
                            <!--Ми створюємо унікальні веб-сайти, засновані на найсучасніших-->
                            <!--технологіях. Наша команда враховує ваші бізнес-потреби та забезпечує систематичні, обгрунтовані-->
                            <!--та перевірені рішення.-->
                            <!--</div>-->
                            <!--<p>— UI/UX design; </p>-->
                            <!--<p>— Prototyping;</p>-->
                            <!--<p>— Frontend;</p>-->
                            <!--<p>— Backend;</p>-->
                            <!--<p>— Technical writing and QA;</p>-->
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!--<div id="showWork2" class="servises__card "><img src="../../static/images/Group18.png" alt="">-->
            <!--<div class="servises__card__block">-->
            <!--<h3>ПРОСУВАННЯ</h3>-->

            <!--<div class="servises__block__text">Сайт потрібен для того, щоб його бачили, як правило, 80%-->
            <!--користувачів знаходять необхідну для них інформацію на першій сторінці браузеру, 90% користуваів-->
            <!--відкривають лише перші 3 посилання пошукової стрічки. Тому невід'ємною частиною розробки сайтів-->
            <!--повинна бути SEO-оптимізація. Працюючи разом ізнашою командою ви отримаєте:-->
            <!--</div>-->
            <!--<p>— якісне написанні тегів (h1-h6 - відповідно до вижливості заголовків), розбиття сайту на логічні-->
            <!--блки;</p>-->
            <!--<p>— якісне заповнення метатегів відповідно до вимог браузерів;</p>-->
            <!--<p>— зазначення ключових слів, які відповідають тематиці контенту;</p>-->
            <!--<p>— подальшу підтримку та консультації;</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div id="showWork3" class="servises__card "><img src="../../static/images/Group18.png" alt="">-->
            <!--<div class="servises__card__block">-->
            <!--&lt;!&ndash;&lt;!&ndash;<h3>ДИЗАЙН</h3>&ndash;&gt;&ndash;&gt;-->

            <!--<div class="servises__block__text">Наші дизайнери знаходять золоту середину між побажаннями клієнтів-->
            <!--та вподобаннями користувачів. Ви можете бути певні - що Ваш продукт буде унікальним, а не копією-->
            <!--вже готових шаблонів. Разом з тим, ми можемо працювати із Вашим дизайном. Ми надаємо наступні-->
            <!--послуги:-->
            <!--</div>-->
            <!--<p>— дизайн сайтів;</p>-->
            <!--<p>— оформлення логотипів;</p>-->
            <!--<p>— брендбук;</p>-->
            <!--<p>— редизайн;</p>-->
            <!--<p>— 3D моделювання;</p>-->
            <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<div id="showWork4" class="servises__card "><img src="../../static/images/Group18.png" alt="">&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<div class="servises__card__block">&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<h3>ПІДТРИМКА САЙТІВ</h3>&ndash;&gt;&ndash;&gt;-->

            <!--<div class="servises__block__text">В світлі сучасних тенденцій підтримка сайтів (support) відіграє-->
            <!--важливу роль, тому ми гарантуємо онлайн підтримку 24/7 та консультації фахівців;-->
            <!--</div>-->
            <!--<p>— support (підтримка) сайтів, які Ви замовили в нас;</p>-->
            <!--<p>— support (підтримка) інших сайтів; </p>-->

            <!--</div>-->
            <!--</div>-->

            <!--<div id="showWork5" class="servises__card "><img id="showWork5Img" src="../../static/images/Group.png"-->
            <!--alt="">-->
            <!--<div class="servises__card__block">-->
            <!--&lt;!&ndash;&lt;!&ndash;<h3>РЕДАГУВАННЯ</h3>&ndash;&gt;&ndash;&gt;-->

            <!--<div id="smaller" class="servises__block__text">Ваш бізнес розширився, Вам не достатньо можливостей-->
            <!--наявного ресурсу, або ж хочене оновити дизайн? - прекрасно, ми вам у цьому допоможемо. Ми можемо-->
            <!--перенести Ваш сайт із платформ-конструкторів (WordPress, Wix... не важливо) на Python/Django, що-->
            <!--значно збільшить швидкість завантаження контенту та підвищить позиції в пошуку-->
            <!--</div>-->

            <!--<p>— оптимізація структури сайту;</p>-->
            <!--<p>— пошукова оптимізація;</p>-->
            <!--<p>— геотаргетинг (відображення інформації в залежності від місця знаходження користувачів);</p>-->
            <!--<p>— виправлення функціональних недоліківж</p>-->
            <!--<p>— підключення статистики відвідувань та аналітики (в залежності відсфонкціонального-->
            <!--призначення);</p>-->
            <!--<p>— та інше;</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->


        </div>
    </div>

</section>
<section id="why_us">
    <div class="container">
        <div class="why__us__block">
            <div class=" why__us__cardZIndex">

                <div class="card__header">{% trans 'Чому ми' %}</div>
                <div class="" id="right_info_slider">
                    {% for elem in descriptions %}
                        <div class="block1">
                            <div class="card__body">{{ elem.title }}</div>
                            <div class="card__text">{{ elem.text|safe }}</div>
                        </div>
                    {% endfor %}
                    <!--<div class="block1 blockSlider">-->
                    <!--<div class="card__body">НАДІЙНІСТЬ</div>-->
                    <!--<div class="card__text"> Вашу базу даних та паролі до адміністраторів не отримають конкуренти, - -->
                    <!--ми дорожимо своєю репутацією. Захист від хакерських нападів, копіювання баз даних,-->
                    <!--перенавантаження серверів та багато інших функцій виконають наші спеціалісти відповідно до-->
                    <!--Ваших вимог.-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="block2 blockSlider">-->
                    <!--<div class="card__body">ЯКІСТЬ</div>-->
                    <!--<div class="card__text"> Ми гарантуємо якість продукту: наша фірма не займається рекрутингом-->
                    <!--низькооплачуваних розробників, які "пишуть код" другий-третій раз в житті. Надійність - -->
                    <!--жодних застарілих технологій, онлайн підтримка 24/7, консультації фахівців - все це ви-->
                    <!--отримаєте разом із кращими враженнями від роботи із нашою командою-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="block3 blockSlider">-->
                    <!--<div class="card__body">ЦІНА</div>-->
                    <!--<div class="card__text"> Ми не обіцяємо найнижчу ціну на ринку, проте співвідношення ціна/якість-->
                    <!--однозначно приємно вас здивує. <span>Жодних авансів та предоплат</span> - нам не потрібні-->
                    <!--гарантії від клієнтів - ми Вам довіряємо. Розрахунок можливий у будь-якій зручній для Вас-->
                    <!--формі - готівковій та без готівковій.-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="block4 blockSlider">-->
                    <!--<div class="card__body">РЕЗУЛЬТАТ</div>-->
                    <!--<div class="card__text"> Ми не працюємо з Wordpress - тому Ваш сайт буде індексуватись-->
                    <!--пошуковими роботами краще ніж сайти конкурентів. Однозначно, швидкість завантаження сайту-->
                    <!--буде набагато швидша ніж у аналогів на Wordpress, Vix, та решти платформ. Наші принципи:-->
                    <!--драйв, взаємодопомога, робота == задоволення, а це, повірте передається повітряно-крапельним-->
                    <!--шляхом-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="block5 blockSlider">-->
                    <!--<div class="card__body">КОНТРАКТ</div>-->
                    <!--<div class="card__text">Ми працюємо згідо договору, можливе нотаріальне завірення та юридична-->
                    <!--підтримка в наших партнерів (або ж ваших). Разом з тим, для кожного клієнта розробляється-->
                    <!--технічне завдання із вказанням строків викоання робіт. Якщо ви хочете створити щось нове та-->
                    <!--креативне - ам до нас, завжди чекаємо.-->
                    <!--</div>-->
                    <!--</div>-->

                </div>
                <button href="#collform" class="button__five">Ми завжди на зв'зку</button>
            </div>
            <div class="why__us__card ">

                <div class="system">
                    <div class="buttomsCarusel">
                        <div class="sun">0{{ descriptions|length }}</div>

                        <!--Кнопки слайдера-->
                        <div class="custom-dots">
                            <div class="custom-arrow-prev icon" id="left">

                            </div>
                            <div class="custom-arrow-next icon" id="right">
                            </div>
                        </div>
                    </div>


                    <div class="ven-path"></div>
                    <div class="ear">

                    </div>
                    <div class="ears">

                    </div>
                    <div class="earsss">

                    </div>
                    <div class="earss">

                    </div>
                    <div class="sat">

                    </div>
                    <div class="satss">

                    </div>
                    <div class="satsss">

                    </div>
                    <div class="sats">

                    </div>
                    <div class="sat-path">

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<section id="partners">
    <div class="container">
        <h2 id="more_about_us">{% trans 'Більше про нас' %}</h2>
        <div class="more_about_us_text">
            {{ text_about.text|safe }}
        </div>
        <!--<div class="more_about_us_text">AVALAN.studio - це молода компанія, яка стала результатом поєднання креативного-->
        <!--мислення та вмінь. Ми перетворили роботу на хоббі, тому займаємося лише тими проектами, які нам подобаються,-->
        <!--та мають в собі щось особливе.-->
        <!--</div>-->
        <!--<div class="more_about_us_text">Як правило, мало хто дочитує до другого абзацу на сайтах, все одно продовжимо:-->
        <!--від нашої команди ви не отримаєте заучених кліше, відмовок та жонглювання вузькопрофільними термінами, що як-->
        <!--правило не вживаються навіть розробниками - індивідуальний підхід, хороший настрій, драйв - це ті складові,-->
        <!--які стають основою успіху кожного починання-->
        <!--</div>-->
        <!--<div class="more_about_us_text">Не вірите? Хочете переконатись? Або ж долучитись до нашої команди? <span>гортайте нижче! </span>-->
    </div>


</section>
<section id="collform">
    <div class="container-form">
        <div class="form__block">
            <div class="img">
                <img src="../../static/images/Group 14.png" alt="заповніть поля">
            </div>
            <div class="js-form first__page__text">
                <div class="js-thanks thanks-block">
                    <h3>{% trans 'Дякуємо що ви з нами, ми зв’яжемося з вами найближчим часом!' %}</h3>
                </div>
                <div class="js-form-wrap all-form-wrap">
                    <div class="form__Head">{% trans 'ДАВАЙТЕ РОЗПОЧНЕМО' %}</div>
                    <form id="js-submit-form" action="{% url 'call-back' %}" method="post">
                        {% csrf_token %}
                        <p>
                            <label>
                                <input type="text" class="border_Strange" name="name" placeholder="{% trans 'Ім’я' %}"/>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="tel" id="js_mask_phone" name="phone"
                                       placeholder="{% trans 'Номер телефону' %}"/>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="email" name="email" placeholder="E-mail"/>
                            </label>
                        </p>
                        <p>
                            <label class="border_Strange">
                                <input type="text" name="post" placeholder="{% trans 'Повідомлення' %}"/>
                            </label>
                        </p>
                        <button>{% trans 'Надіслати' %}</button>
                    </form>
                </div>
            </div>

        </div>

    </div>
</section>
<footer>
    <div class="container ">
        <div class="footer__header">{% trans 'Контакти' %}</div>
        <div class="footer__block">
            <div class="footer__card">
                <div class="footer__card__head">{% trans 'Контакти' %}</div>
                {% for phone in contacts_phone %}
                    <div class="footer__card__body" id="phone{{ forloop.counter }}">{{ phone.contact }}</div>
                {% endfor %}
                <!--<div class="footer__card__body" id="phone2">+380635901359</div>-->
                <!--<div class="footer__card__body" id="phone3">+380637859429</div>-->
                <!--<div class="footer__card__body" id="phone4">+380977551214</div>-->

            </div>
            <div class="footer__card">
                <div class="footer__card__head">{% trans 'Скайп' %}</div>
                {% for skype in contacts_skype %}
                    <div class="footer__card__body">{{ skype.contact }}</div>
                {% endfor %}
            </div>

            <div id="mail" class="footer__card">
                <div class="footer__card__head">E-mail</div>
                {% for email in contacts_email %}
                    <a href="#" class="footer__card__body">{{ email.contact }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="footer__card__footer">{% trans 'Ми Вам зателефонуємо' %}</div>
        <div class="rights"> © 2019 {% trans 'м.Київ' %} AVALAN.studio {% trans 'всі права захищено' %}</div>

    </div>

</footer>

<script src="{% static 'client.bundle.js' %}"></script>

{% block scripts %}
    <script>
        App.init();

    </script>
{% endblock %}
</body>

</html>
