<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Нова заявка!</h1>
    <span style="color: red;">Вам пришло письмо от {{ name }}</span>

    <div style="
    font-size:22px;
     color: green;
    font-familly: Arial, sans-serif;">
        {{ text }}
    </div>
    <p>Его номер - {{phone}}</p>
    <p>Его mail - {{email}}</p>
</div>
</body>
</html>